*
{
    font-family: font1;
}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #91d370;
    background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}
 
.sidenav a 
{
    padding: 20px 8px 8px 40px;
    text-decoration: none;
    font-size: 19px;
    color:#fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus
{
    color: purple;
    text-decoration: none;
}

.banner
{
    background: url(images/banner19.jpeg);
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-box img 
{
    transition: all 0.3s;
    display: block;
    height: auto;
    transform: scale(1);
}

.img-box:hover img 
{
    transform: scale(1.1);

}

.rainbow_text
{
    text-align: center; 
    font-family: font2;
    background-image: linear-gradient(315deg, #f2cd54 0%, #722ae6 74%);
    color: transparent; 
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
}

.active
{
    text-decoration: none;
}

.social-links a 
{
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: purple;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: all 0.3s;
    transform: scale(1);
}

.social-links a:hover 
{
    background: blue;
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
}
 
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

#main 
{
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
    background-color: #fcebff;
}

body 
{
  overflow-x: hidden;
}
 
.topnav 
{
    overflow: hidden;
}
 
.topnav a 
{
    float: left;
    display: block;
    color: #a97f03;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
.topnav a:hover 
{
    background-color: #dde4ea;
}

.type
{
    margin-left: 50px;
    font-family: font2;
    color: purple;
}
 
a svg
{
  transition:all .5s ease;
 
  &:hover
  {
    #transform:rotate(180deg);
  }
}
 
#ico
{
  display: none;
}

#button
{
    background-color: #dc98ff;
    color: #fff;
}

#button:hover
{
    background-color: #c87eff;
}

#myBtn 
{
    display: all;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fee7ff;
    color: #c87eff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover 
{
    background-color: #f0d3ff;
}

#about,#project,#skill,#education,#contact
{
    background-color: #fcf3ff;
}

.main-title
{
    text-align: center;
    font-family: font3;
    color: #dc98ff;
}
#img
{
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}

/*image effect hover*/
.hover 
{
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img 
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content 
{
    position: relative;
    z-index: 99;
}

.hover-3:after 
{
    content: '';
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 1px solid #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 90;
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0;
    display: block;
    opacity: 0;
}

.hover-3-content 
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 99;
}

.hover-3-description 
{
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s;
}

.hover-3 img 
{
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hover-3 .hover-overlay 
{
    background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img 
{
    width: 100%;
}

.hover-3:hover::after 
{
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-3-description 
{
    opacity: 1;
    transform: none;
}

.hover-3:hover .hover-overlay 
{
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*timeline*/
.timeline 
{
    position: relative;
    margin: 0 auto;
    width: 90%;
    
}

.timeline ul li 
{
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point 
{
    min-width: 20px;
    height: 20px;
    background-color: #be9fe1;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}

.timeline ul li .content 
{
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content 
{
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date 
{
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content 
{
    padding-right: 0;
}

.timeline ul li:nth-child(even) .date 
{
    padding-left: 0;
}

.timeline ul li .date 
{
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .date h4 
{
    background-color: #e1ccec;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.timeline ul li .content h3 
{
    padding: 10px 20px;
    background-color: #be9fe1;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p 
{
    padding: 10px 20px;
    background-color: #e1d9ec;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) 
{
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 
{
    float: right
}

.timeline::before 
{
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}

@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }

}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }

}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}




 


